<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.stderror.alfred.todoist2day</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1950C0A0-6231-4DF1-A19A-F9E5DD89E91E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C07BB62-CD08-44A6-8E8C-09F3594EA054</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CA290A8-3BF7-419A-9E20-C2568AE942EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B95C6879-A6D3-484D-A56B-B8EE0D301C70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34E347C1-D18A-4300-8B88-11309540EC0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1950C0A0-6231-4DF1-A19A-F9E5DD89E91E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45FFB837-D3A2-48B7-A63F-5100664E94ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>511D5A7F-209A-4788-9535-E4ABA18C572A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4949E058-CC2A-4D1F-9990-4BD916AE7AD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CA290A8-3BF7-419A-9E20-C2568AE942EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45FFB837-D3A2-48B7-A63F-5100664E94ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>518A7D25-2384-46A4-89AD-0DB8BD13A2F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25C92D75-503A-4D70-831D-163886FA6E04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E01B79C-97EB-4830-AB9F-3A5C8C5F12DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>518A7D25-2384-46A4-89AD-0DB8BD13A2F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Goeke</string>
	<key>description</key>
	<string>Todoist2Day is a simple alfred workflow to manage your Todoist Task for the day.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todoist2Day</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>511D5A7F-209A-4788-9535-E4ABA18C572A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>2day</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>from  main import alfred_list_task_today

alfred_list_task_today()</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.py</string>
				<key>subtext</key>
				<string>show my todoist tasks for today</string>
				<key>title</key>
				<string>show my tasks for today</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50B0CD10-4D52-4898-9C05-DD3A34A829C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from  main import alfred_close_task

alfred_close_task({query})</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45FFB837-D3A2-48B7-A63F-5100664E94ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2C07BB62-CD08-44A6-8E8C-09F3594EA054</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># coding: utf8
import sys
from main import alfred_create_task

query = sys.argv[1]
alfred_create_task(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1950C0A0-6231-4DF1-A19A-F9E5DD89E91E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tadd</string>
				<key>subtext</key>
				<string>add task to Todoist</string>
				<key>text</key>
				<string>add task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34E347C1-D18A-4300-8B88-11309540EC0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Token stored successfully</string>
				<key>title</key>
				<string>Token stored</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B95C6879-A6D3-484D-A56B-B8EE0D301C70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

echo -n "TOKEN="\"$query\" &gt; myconfig.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1CA290A8-3BF7-419A-9E20-C2568AE942EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t-token</string>
				<key>subtext</key>
				<string>you find your api token under settings &gt; integrations</string>
				<key>text</key>
				<string>store your todoist token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4949E058-CC2A-4D1F-9990-4BD916AE7AD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t-lang</string>
				<key>subtext</key>
				<string>you find your api token under settings &gt; integrations</string>
				<key>text</key>
				<string>store your todoist token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E01B79C-97EB-4830-AB9F-3A5C8C5F12DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

echo -n "LANG="\"$query\" &gt; mylang.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>518A7D25-2384-46A4-89AD-0DB8BD13A2F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Language stored successfully</string>
				<key>title</key>
				<string>Language stored</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>25C92D75-503A-4D70-831D-163886FA6E04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Todoist2Day is a simple alfred workflow to manage your Todoist Task for the day.

It usese the Todoist v8 Rest API. 


To use this workflow you have to store your API Token with in alfred.</string>
	<key>uidata</key>
	<dict>
		<key>1950C0A0-6231-4DF1-A19A-F9E5DD89E91E</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>1CA290A8-3BF7-419A-9E20-C2568AE942EC</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>25C92D75-503A-4D70-831D-163886FA6E04</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>2C07BB62-CD08-44A6-8E8C-09F3594EA054</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>34E347C1-D18A-4300-8B88-11309540EC0F</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>45FFB837-D3A2-48B7-A63F-5100664E94ED</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>4949E058-CC2A-4D1F-9990-4BD916AE7AD3</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<dict>
			<key>note</key>
			<string>Alfred 3 now supports JSON as the Script Filter output. This is the recommended output.</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>511D5A7F-209A-4788-9535-E4ABA18C572A</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>518A7D25-2384-46A4-89AD-0DB8BD13A2F2</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>8E01B79C-97EB-4830-AB9F-3A5C8C5F12DA</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>B95C6879-A6D3-484D-A56B-B8EE0D301C70</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.stderror.net</string>
</dict>
</plist>
